<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h2>Detail Contact</h2>
      <% if (!contact) { %>
        <div class="alert alert-danger" role="alert">
          Contact not found. <a href="/contact" class="alert-link"><i class="bi bi-arrow-left me-1"></i>Back</a>.
        </div>
      <% } else { %>
        <div class="card shadow" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= contact.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= contact.phoneNumber %></h6>
            <p class="card-text"><%= contact.email %></p>
            <div class="row justify-content-between">
              <div class="col-auto">
                <a href="/contact" class="card-link"><i class="bi bi-arrow-left me-1"></i>Back</a>
              </div>
              <div class="col-auto">
                <a href="/contact/edit/<%= contact.name %>" class="btn btn-info badge">Edit</a>
                <a href="/contact/delete/<%= contact.name %>" class="btn btn-danger badge">Delete</a>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>